<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
	</head>
	<body>
		<wicket:panel>
			<div class="ui horizontal divider">ABOUT</div>
			<div class="ui grid">
				<div class="five wide column">
					<p class="ui segment">
						Author: Scott Jordan
					</p>
				</div>
				<div class="one wide column"></div>
				<div class="four wide column">
					<p class="ui segment">
						<a>Computer Science House</a>
					</p>
				</div>
				<div class="one wide column"></div>
				<div class="five wide column">
					<div class="ui segment">
						<p><a>Github</a></p>
					</div>
				</div>
			</div>
		</wicket:panel>
	</body>
</html>
