<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
	</head>
	<body>
		<wicket:panel>
			<div class="ui horizontal divider">ABOUT</div>
            <div class="ui three column divided grid">
                <div class="row">
                    <div class="column"><p style="text-align:center;">
                    Author: Scott Jordan 2013-2014</p></div>
                    <div class="column"><p style="text-align:center;">
                    For <a href="http://www.csh.rit.edu/">Computer Science House</a></p></div>
                    <div class="column"><p style="text-align:center;">
                    Code available on <a href="https://github.com/swinejelly/Bookkake-Two">GitHub</a></p></div>
                </div>
            </div>
		</wicket:panel>
	</body>
</html>
