<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
	</head>
	<body>
		<wicket:panel>
		<div class="ui menu">
            <wicket:link><a class="active item" href="HomePage.html"><i class="home icon"></i>Home</a></wicket:link>
            <wicket:link><a class="item" href="RequestPage.html"><i class="book icon"></i>Requests</a></wicket:link>
            <wicket:link><a class="item" href="BrowsePage.html"><i class="browser icon"></i>Browse</a></wicket:link>
            <div class="right menu">
				<form wicket:id="switchUser" method="POST" class="item">
					<div class="ui icon input">
						<input wicket:id="uidInput" type="text" placeholder="Switch UID (dev only)">
						<input type="submit" value="Switch">
					</div>
				</form>
			</div>
		</div>
	</wicket:panel>
	</body>
</html>
