<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
	<head>
	</head>
	<body>
		<wicket:panel>
			<h2 class="ui header">
                Request Book
                <div class="ui sub header">Make a request to borrow a book. If someone else has the book,
                    they can see that you want the book and lend it to you.</div>
            </h2>
			<form wicket:id="searchBookForm" id="searchBookForm" method="post"
			   class="ui form">
                <div class="ui fluid form">
                    <div class="two fields">
                        <div class="field">
                            <label>Title</label>
                            <input type="text" name="title" wicket:id="title">
                        </div>
                        <div class="field">
                            <label>Author(s) (Optional)</label>
                            <input type="text" name="author" wicket:id="author">
                        </div>
                    </div>
                    <input type="submit" name="searchBook" value="Find Books!" wicket:id="searchBookSubmit"
                           class="ui blue submit button">
                </div>
			</form>
		</wicket:panel>
	</body>
</html>
